# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual env
.venv/
venv/
env/
backend/.venv/

# Node
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# VSCode
.vscode/

# Logs
*.log